<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Serif:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />

    <style>
      body {
        font-family: "Roboto", sans-serif;
        background-color: #f4faff;
      }
      h2 {
        font-family: "Roboto Serif", serif;
      }

      h1 {
        font-family: "Roboto Serif", serif;
      }

      .imagenes {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>

    <title>Mis Productos</title>
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-light menu align-middle align-self-center"
      >
        <div class="menu__logo">
          <a class="menu__link align-middle" href="/">LRCreative</a>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="active menu__item menu__item1" href="/catalogo"
              >Catálogo</a
            >
            <a class="menu__item menu__item2" href="/contactanos">Contacto</a>
            <a class="menu__item menu__item3" href="/conocenos">Conócenos</a>
            <a class="menu__item menu__item4" href="/faq"
              >Preguntas Frecuentes</a
            >
          </div>
        </div>
      </nav>
    </header>

    <h1 class="page-title text-center mb-5 mt-5">Nuestros Productos</h1>

    <!-- Contenedor -->
    <div class="container mt-4">
      <!-- Primera fila de productos -->
      <div class="row">
        <!-- Primer produdcto -->
        <div class="col-md-4">
          <div class="row">
            <a href="/productos/1">
              <div class="col-md-12">
                <img
                  src="../static/images/catalogo/Rectangle 21.png"
                  class="img-fluid"
                />
              </div>
              <div class="col-md-12 mt-2">
                <h2 class="text-center">Playeras</h2>
              </div>
            </a>
            <div class="col-md-12 mt-2">
              <p class="text-center">
                Personaliza cómodas playeras con tus diseños favoritos en
                distintos tamaños
              </p>
            </div>
          </div>
        </div>

        <!-- Segundo producto -->
        <div class="col-md-4">
          <div class="row">
            <a href="/productos/2">
              <div class="col-md-12">
                <img
                  src="../static/images/catalogo/Rectangle 19.png"
                  class="img-fluid"
                />
              </div>
              <div class="col-md-12 mt-2">
                <h2 class="text-center">Camisas Polo</h2>
              </div>
            </a>
            <div class="col-md-12 mt-2">
              <p class="text-center">
                Representa a tu escuela u organización con camisas polo de alta
                cálidad
              </p>
            </div>
          </div>
        </div>

        <!-- Tercera Tercer producto -->
        <div class="col-md-4">
          <div class="row">
            <a href="/productos/3">
              <div class="col-md-12">
                <img
                  src="../static/images/catalogo/Rectangle 22.png"
                  class="img-fluid"
                />
              </div>
              <div class="col-md-12 mt-2">
                <h2 class="text-center">Gorras</h2>
              </div>
            </a>
            <div class="col-md-12 mt-2">
              <p class="text-center">
                Gorras unitalla ideales para toda clase de eventos, garantizadas
                a quedarle a todo mundo.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Segundo Fila de productos -->
      <div class="row mt-4">
        <!-- Cuarto producto -->
        <div class="col-md-6 mx-auto">
          <div class="row">
            <div class="col-md-12 imagenes">
              <a href="/productos/4">
                <img
                  src="../static/images/catalogo/Rectangle 23.png"
                  class="img-fluid"
                />
              </a>
            </div>
            <div class="col-md-12 mt-2">
              <a href="/productos/4">
                <h2 class="text-center">Tazas</h2>
              </a>
            </div>

            <div class="col-md-12 mt-2">
              <p class="text-center">
                Ideales para regalos, personaliza tazas de distintos colores con
                diseños y mensajes personalizables
              </p>
            </div>
          </div>
        </div>

        <!-- Quinto Producto -->
        <div class="col-md-6 mx-auto">
          <div class="row">
            <div class="col-md-12 imagenes">
              <a href="/productos/5">
                <img
                  src="../static/images/catalogo/Rectangle 24.png"
                  class="img-fluid"
                />
              </a>
            </div>
            <div class="col-md-12 mt-2">
              <a href="/productos/5" style="width: fit-content; margin: auto">
                <h2
                  class="text-center"
                  style="width: fit-content; margin: auto"
                >
                  Termos
                </h2>
              </a>
            </div>
            <div class="col-md-12 mt-2">
              <p class="text-center">
                Perfectos para regalos y eventos. Personaliza tus termos de
                distintos colores con el logo de tu organización
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Fin de Contenedor -->
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
