<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LRCreative</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/contactanos.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:opsz,wght@8..144,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="background-color: #f4faff;">
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-light menu align-middle align-self-center"
      >
        <div class="menu__logo">
          <a class="menu__link align-middle" href="/">LRCreative</a>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="menu__item menu__item1" href="/catalogo">Catálogo</a>
            <a class="active menu__item menu__item2" href="/contactanos"
              >Contacto <span class="sr-only">(Actual)</span></a
            >
            <a class="menu__item menu__item3" href="/conocenos">Conócenos</a>
            <a class="menu__item menu__item4" href="/faq"
              >Preguntas Frecuentes</a
            >
          </div>
        </div>
      </nav>
    </header>
    <main>
      <h1 class="page-title text-center mb-5">¡Contáctanos!</h1>
      <div class="container redes">
        <div class="row">
          <div class="col text-center">
            <img
              class="redes__img"
              src="../static/images/contactanos/whatsapp.png"
              alt="WhatsApp"
            />
            <p class="redes__text">+52 5555 5555</p>
          </div>
          <div class="col text-center">
            <img
              class="redes__img"
              src="../static/images/contactanos/twitter.png"
              alt="Twitter"
            />
            <p class="redes__text">@LRCreative</p>
          </div>
        </div>
      </div>
      <h2 class="form-title text-center">Contacto Directo</h2>

      <form action="/contactanos" method="post" class="contacto-form mt-5 mb-5">
        <div class="container">
          <div class="row">
            <div class="col">
              <label for="nombre">Nombre</label>
              <br />
              <input
                class="contacto__input"
                type="text"
                placeholder="Nombre..."
                id="nombre"
                name="nombre"
              />
            </div>
            <div class="col">
              <label for="correo">Correo electrónico</label>
              <br />
              <input
                type="email"
                name="email"
                id="email"
                class="contacto__input"
                placeholder="ejemplo@email.com"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="telefono">Teléfono</label>
              <br />
              <input
                class="contacto__input"
                type="tel"
                id="telefono"
                name="telefono"
                placeholder="+55 555 555"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="mensaje">Mensaje</label>
              <br />
              <textarea
                class="contacto__input contacto__input-big"
                type="textarea"
                name="mensaje"
                id="mensaje"
                placeholder="Estamos para servirte"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="text-center mt-5">
          <button class="contacto-form__btn" type="submit">Enviar</button>
        </div>
      </form>
    </main>
    
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <p>LRCreative</p>
          </div>
          <div class="col-md-4">
            <h5>Links</h5>
            <ul class="footer-links">
              <li><a href="/">Index</a></li>
              <li><a href="/catalogo">Catalogo</a></li>
              <li><a href="/contactanos">Contacto</a></li>
              <li><a href="/conocenos">Conocenos</a></li>
              <li><a href="/faq">Preguntas frecuentes</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Información</h5>
            <p>Email: ventas@Ircreative.com.mx</p>
            <p>Phone: +52 8116844639</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="copyright">&copy; 2023 LR Creative</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
