<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Serif:wght@700&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />

    <style>
        body {
            font-family: "Roboto", sans-serif;
            background-color: #f4faff;
            }
        h2 {
            font-family: "Roboto Serif", serif;
        }

        h1 {
            font-family: "Roboto Serif", serif;
        }
    </style>

    <title>Mis Productos</title>
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-light menu align-middle align-self-center"
      >
        <div class="menu__logo">
          <a class="menu__link align-middle" href="/">LRCreative</a>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="active menu__item menu__item1" href="/catalogo"
              >Catálogo</a
            >
            <a class="menu__item menu__item2" href="/contactanos">Contacto</a>
            <a class="menu__item menu__item3" href="/conocenos">Conócenos</a>
            <a class="menu__item menu__item4" href="/faq"
              >Preguntas Frecuentes</a
            >
          </div>
        </div>
      </nav>
    </header>

    <div class="container mt-5">
        <div class="row">

            <div class="col-md-6">
                <img src="#" class="img-fluid" alt="Producto">
            </div>

            <div class="col-md-6">
                <h1 class="mb-4">HOLA NESHU</h1>
                <p class="espaciado-lineas mb-4">Gorras totalmente personalizables para cualquier uso. Diseña tus propias gorras con una impresión en alta calidad. Pidelas ahora en línea y recibelas directamente a tu domicilio. </p>
    
                <!-- Formulario para elegir color y cantidad -->
                <form>
                    <div class="form-group d-flex align-items-center mb-4">
                        <label for="color" class="mr-4"><h2><strong>Color</strong></h2></label>
                        <select class="form-control" name="color">
                            <option value="rojo">Rojo</option>
                            <option value="azul">Azul</option>
                            <option value="verde">Verde</option>
                        </select>
                    </div>
    
                    <!-- Formulario para elegir cantidad -->
                    <div class="form-group d-flex align-items-center mb-4">
                        <label for="cantidad" class="mr-2"><h2><Strong>Cantidad</Strong></h2></label>
                        <input type="number" class="form-control" name="cantidad">
                    </div>
    
                    <!-- diseño desde archivo -->
                    <div class="form-group mb-4">
                        <label for="archivo"><h2><strong>Diseño</strong></h2></label>
                        <input type="file" class="form-control-file" name="archivo">
                    </div>
    
                    <!-- Botón de compra -->
                    <div class="btn-div text-center">
                        <button type="submit" class="productos__btn">¡Comprar Ahora!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
